@use '../../_styles/tokens' as t;

.warning-list {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 3px;
    border-radius: 16px;
    background: rgba(255, 149, 0, 0.1);
    border: 1px solid t.$clinical-warning;
}

.warning-item {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    font-size: t.$fs-small;
    font-weight: 500;
    line-height: t.$line-height-small;
    color: t.$text-dark;
}

.warning-symbol {
    flex-shrink: 0;
    font-size: t.$fs-small;
    line-height: t.$line-height-small;
}
