@use '../../_styles/tokens' as t;

.divider {
    border: none;
    border-top: 1px solid t.$neutral-divider;
    margin: 12px 0;
}

.text {
    font-size: t.$fs-body;
    font-weight: 400;
    line-height: t.$line-height-body;
    letter-spacing: 0.015em;
    color: t.$text-primary;
    margin: 0;
}
