.page-eum {
    // ─────────────────────────────────────────────
    // Usability Testing (UT)
    // ─────────────────────────────────────────────
    .ut-results {
        padding: var(--space-48) 0;

        .ut-results-item {
            padding-bottom: var(--space-48);

            .ut-results-headline {
                width: var(--layout-paragraph-width);
                color: var(--color-text-primary);
                font-family: var(--font-family-spoqa);
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
                /* 31.2px */
                padding-bottom: var(--space-12);

                .emphasis {
                    background: var(--color-primary);
                    display: inline-block;
                    color: var(--color-white);
                }
            }

            .ut-results-screenshot {
                .image-wrapper {
                    border-radius: var(--radius-12);
                    border: 1px solid var(--color-gray-scale-4);
                    background: var(--color-white);
                    display: inline-flex;
                    padding: var(--space-12);
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: stretch;
                    margin: var(--space-16) 0 var(--space-12);
                }

                figcaption {
                    width: var(--layout-paragraph-width);
                    color: var(--color-text-tertiary);
                    font-family: var(--font-family-spoqa);
                    font-size: var(--font-size-small);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    padding: 0 var(--space-12);
                }
            }
        }
    }

    .ut-overview {
        border-top: 1px solid var(--color-primary);
        padding-top: var(--space-64);

        .ut-meta-info {
            display: flex;
            flex-direction: column;
            gap: var(--space-8);
            width: var(--layout-paragraph-width);
            margin: 0 auto;
            padding-bottom: var(--space-64);

            .ut-meta-info-item {
                display: flex;
                gap: var(--space-16);

                dt {
                    width: 50px;
                    color: var(--color-text-secondary);
                    font-feature-settings: "ss18" on;
                    font-family: var(--font-family-suit);
                    font-size: var(--font-size-regular);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
                }

                dd {
                    flex: 1;
                    color: var(--color-text-secondary);
                    font-feature-settings: "ss18" on;
                    font-family: var(--font-family-suit);
                    font-size: var(--font-size-regular);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;

                    li:first-child {
                        padding-bottom: var(--space-4);
                    }
                }
            }
        }

        .ut-interview {
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-32) var(--space-24);

            figure {
                width: calc((100% - var(--space-24)) / 2);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--space-24);

                img {
                    border-radius: var(--radius-12);
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                    object-position: right center;
                }

                figcaption {
                    strong {
                        color: var(--color-text-tertiary);
                        font-family: var(--font-family-spoqa);
                        font-size: var(--font-size-regular);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 130%;
                    }

                    display: block;
                    color: var(--color-text-primary);
                    font-family: var(--font-family-suit);
                    font-size: var(--font-size-regular);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    padding: 0 var(--space-8);
                }
            }
        }
    }
}
