.page-eum {
    .section-dd-develop {
        .card-wrapper {
            padding-bottom: 0;
        }
    }   
    
    .card-white-wrapper {
        display: flex;
        gap: var(--space-24);
        width: 100%;
        padding-top: var(--space-48);

        .card-white {
            width: calc(100% / 3);

            .section-label {
                width: auto;
            }

            .typography-copy {
                width: auto;
            }
        }
    }
}
