.page-eum {
    // ─────────────────────────────────────────────
    // Links & buttons
    // ─────────────────────────────────────────────
    .button-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .link-primary {
        border-radius: var(--radius-8);
        background: var(--color-primary);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        font: {
            family: var(--font-family-spoqa);
            size: var(--font-size-xsmall);
            weight: 400;
        }
        line-height: 100%;
        color: var(--color-white);
        padding: 0 var(--space-16);
    }
    .link-secondary {
        border-radius: var(--radius-8);
        border: 1px solid var(--color-white);
        background: transparent;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        font: {
            family: var(--font-family-spoqa);
            size: var(--font-size-xsmall);
            weight: 400;
        }
        line-height: 100%;
        color: var(--color-white);
        padding: 0 var(--space-16);
    }
    .button-elevated {
        border-radius: var(--radius-8, 8px);
        // background: linear-gradient(93deg, var(--color-text-primary, #1C1C1E) 0%, var(--color-ink-700, #4D4D54) 48.88%, var(--color-ink-500, #66666F) 97.76%);
        background: linear-gradient(94deg, var(--color-text-primary, #1C1C1E) 29.2%, #0071E3 72.46%);
        // background: #0071E3;
        background-size: 200% 200%;
        background-position: 0% 50%;
        display: inline-flex;
        height: 48px;
        padding: 0 var(--space-24);
        align-items: center;
        gap: var(--space-8, 8px);
        align-self: stretch;
        color: var(--color-white, #fff);
        font-family: var(--font-family-spoqa);
        font-size: var(--font-size-regular);
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        animation: button-elevated-gradient 4s ease-in-out infinite;
    }

    @keyframes button-elevated-gradient {
        0%,
        100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }
}
