.page-eum {
    // ─────────────────────────────────────────────
    // Section primitives
    // ─────────────────────────────────────────────
    .section-standalone,
    .section-project-background,
    .section-dd-develop,
    .section-dd-develop-review,
    .section-dd-develop-wireframe-to-prototype,
    .section-dd-deliver,
    .section-dd-deliver-structure-update,
    .section-system-definition {
        padding: var(--space-96) 0;
    }

    .section-double-diamond,
    .section-dd-discover,
    .section-dd-define {
        padding: var(--space-96) 0 0;
    }

    .section-ai-pipeline {
        padding: 0 0 var(--space-96)
    }

    .section-standalone {
        background: var(--color-primary);

        .standalone-content {
            width: var(--layout-section-content-wide);
            margin: 0 auto;

            .section-headline-large {
                color: var(--color-white);
                width: 100%;

                .emphasis {
                    background: var(--color-gray-scale-1);
                    display: inline-block;
                    color: var(--color-text-primary);
                }
            }
        }
    }

    .section-project-background {
        background: var(--color-surface-subtle);
    }

    .section-dd-develop-review {
        background: var(--color-surface-subtle);
    }
    .section-dd-develop-review .callout-wrapper {
        flex-direction: column;
    }

    .section-system-definition,
    .section-ai-pipeline {
        background: var(--color-surface-subtle);
    }

    .section-final-result {
        padding: 96px 0;
    }
    .section-key-takeaways {
        background: var(--color-surface-subtle);
        padding: 96px 0;
    }
}
