.page-eum {
    .section-key-takeaways {
        .section-headline-small {
            padding-bottom: 12px;
        }

        .typography-copy {
            padding-bottom: 48px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
