.page-eum {
    .section-key-takeaways {
        .section-headline-small {
            padding-bottom: var(--space-12);
        }

        .typography-copy {
            padding-bottom: var(--space-48);

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
