.page-eum .section-highlight {
    padding: 96px 0;

    .highlight-content {
        width: 960px;
        margin: 0 auto;
    }

    .highlight {
        
        padding-bottom: 36px;

        .typography-highlight {
            font: {
                family: var(--font-family-spoqa);
                size: var(--font-size-xxlarge);
                weight: 700;
            }
    
            ;
            line-height: 130%;
            color: var(--color-text-primary);
        }
    }    

    // .project-snapshot is defined in projects/_style/project.snapshot.scss
}