@use '../../_styles/tokens' as *;

.hospital-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.hospital-name {
    font-size: $fs-title;
    line-height: $line-height-title;
    font-weight: 700;
    color: $text-primary;
    margin: 0;
}

.doctor-name {
    font-size: $fs-body;
    line-height: $line-height-body;
    font-weight: 700;
    color: $text-primary;
    margin: 0;
}

.date {
    font-size: $fs-regular;
    line-height: $line-height-regular;
    color: $text-secondary;
    margin: 0;
}
