@use '../../../_styles/tokens' as t;

.tooltip-row {
    margin: 0;
    font-weight: 500;
}

.tooltip-outlier {
    margin: 0;
    color: t.$clinical-danger;
    font-size: t.$fs-small;
    font-weight: 500;
}
