@use '../../../_styles/tokens' as t;

.tooltip-value {
    margin: 0;
    font-weight: 500;
}

.tooltip-delta {
    margin: 0;
    color: t.$text-secondary;
}

.tooltip-category {
    margin: 0;
    color: t.$text-secondary;
}

.tooltip-freq {
    color: t.$text-muted;
}

.tooltip-label {
    margin: 0;
    color: t.$text-muted;
    font-size: t.$fs-small;
    line-height: t.$line-height-small;
}
