:root {
    // color
    --color-primary: #1d1d1f;
    --color-white: #fff;

    // border-radius
    --border-radius-default: 24px;
    --border-radius-CTA-button: 999px;
    
    // font
    --font-color-primary: var(--color-primary);
    --page-title: 48px;
    --page-subtitle: 28px;

    --heading1: 20px;
    --font-subhead: 20px;
    --font-body-large: 20px;
    --font-body-regular: 18px;
    --font-caption-regular: 14px;
    --font-catpion-small: 12px;
    
    // CTA Buttons
    --CTA-buttons-border: 1px solid var(--color-primary);
    --CTA-buttons-border-radius: var(--border-radius-CTA-button);

    --CTA-primary-button-background: var(--color-primary);
    --CTA-primary-button-text: var(--color-white);

    --CTA-secondary-button-background: transparent;
    --CTA-secondary-button-text: var(--color-primary);

    --CTA-tertiary-button-border: 1px solid transparent;
    --CTA-tertiary-button-background: transparent;
    --CTA-tertiary-button-text: var(--color-primary);
}