.globalnav {
    font-family: var(--font-family-suit);
    height: var(--globalnav-height);

    &.is-sub {
        .globalnav-content {
            max-width: 1024px;
            padding: 0 32px;
            margin: 0 auto;
            box-sizing: border-box;
        }
    }

    &.is-about {
        position: relative;
        color: var(--color-white);

        .globalnav-home {
            color: var(--color-white);
        }

        .globalnav-about {
            margin-left: auto;
            padding-top: 92px;
            font-weight: 500;

            .project-list {
                padding-top: 12px;
            }

            .project-item {
                padding-bottom: 4px;

                .project-link {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .globalnav-content {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 64px;
        box-sizing: border-box;

        .globalnav-home {
            display: flex;
            align-items: ceneter;
            font-size: 18px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 1.2%;
            color: var(--color-text-primary);
        }

        .globalnav-list {
            margin-left: auto;
            display: flex;
            gap: 24px;

            .globalnav-link {
                font-size: var(--font-size-small);
                font-weight: 400;
                color: var(--color-text-tertiary);

                &:hover {
                    color: var(--color-text-primary);
                }

                &.active {
                    font-weight: 700;
                    color: var(--color-text-primary);
                }
            }
        }
    }
}
