:root {
    --color-bg: #fff;
    --color-bg-accent: #1C1C1E;
    --color-text: #1d1d1f;
    --color-accent: #0071e3;
    --color-muted: #6e6e73;

    --color-white: #fff;
    --color-patients: #34C759;
    --color-bg-patients: #EBFAEF;
    --color-doctor: #00C0E8;
    --color-bg-doctor: #E6F9FD;
    --color-ai: #CB30E0;
    --color-bg-ai: #FAEAFC;

    --color-primary: #1d1d1f;
    --color-secondary: #3d3d54;
    --color-tertiary: #66666f;

    --color-gray-scale-1: #8E8E93;
    --color-gray-scale-2: #AEAEB2;
    --color-gray-scale-3: #C7C7CC;
    --color-gray-scale-4: #D1D1D6;
    --color-gray-scale-5: #E5E5EA;
    --color-gray-scale-6: #F2F2F7;

    --color-text-primary: var(--color-primary);
    --color-text-secondary: var(--color-secondary);
    --color-text-tertiary: var(--color-tertiary);

    --color-border-default: var(--color-gray-scale-4);
    --color-border-subtle: var(--color-gray-scale-5);

    --color-surface-default: var(--color-white);
    --color-surface-subtle: var(--color-gray-scale-6);
    
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-24: 24px;
    --space-28: 28px;
    --space-32: 32px;
    --space-36: 36px;
    --space-48: 48px;
    --space-56: 56px;
    --space-64: 64px;
    --space-96: 96px;

    --layout-max-width: 2560px;
    --layout-default-width: 1920px;
    --layout-min-width: 320px;
    --layout-section-content-wide: 1200px;
    --layout-section-content-default: 1024px;
    --layout-paragraph-width: 680px;

    --radius-8: 8px;
    --radius-12: 12px;

    --font-family-spoqa: "Spoqa Han Sans Neo",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif;

    --font-family-suit: "SUIT",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif;
}
