@use '../_styles/tokens' as *;

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100dvh - 48px - 56px); // AppBar + TabBar
    padding: 0 24px;
}

.placeholder {
    font-size: 15px;
    color: $header-icon-color;
}
